body{
    max-width: 1100px;
    max-height: 500px;
}
Masthead{
    display: flex;
    border: 3px solid black;
}

Masthead-header{
    
}

button{
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    border: 2px solid black;
    padding: 1%;
    
}
.Box{
    display: flex;
    justify-content:flex-start;
    width: 50%;
    border: 2px solid black;
    
}


.Box__content{
    padding: 1%;
    
}